[submodule "third_party/x264"]
	path = third_party/x264
  url = https://github.com/ffmpegwasm/x264.git
[submodule "wasm/tests/data"]
	path = wasm/tests/data
	url = https://github.com/ffmpegwasm/testdata
[submodule "third_party/libvpx"]
	path = third_party/libvpx
	url = https://github.com/ffmpegwasm/libvpx
