[submodule "third_party/x264"]
	path = third_party/x264
	url = https://github.com/ffmpegwasm/x264
[submodule "third_party/zlib"]
	path = third_party/zlib
	url = https://github.com/madler/zlib.git
[submodule "third_party/libwebp"]
	path = third_party/libwebp
	url = https://github.com/webmproject/libwebp
[submodule "third_party/libvpx"]
	path = third_party/libvpx
	url = https://github.com/webmproject/libvpx/
[submodule "third_party/libmp3lame"]
	path = third_party/libmp3lame
	url = https://github.com/ffmpegwasm/libmp3lame
